<!-- Inline Form -->
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h4 class="mb-1 header-title mt-0">Inline Form</h4>
              <div class="row">
                  <div class="col-md-auto mb-3">
                      <label for="staticEmail2" class="visually-hidden">Email</label>
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                          value="email@example.com">
                  </div>
              </div>
          </div> <!-- end card-body -->
      </div> <!-- end card -->
  </div> <!-- end col -->
</div>
<!-- end row -->
