<nav id="appTopNav" class="navbar navbar-expand-lg bg-body-tertiary px-5 topnav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <offset-menu label="Home" icon="bi bi-house-door">
            <offset-item>Item</offset-item>
            <offset-item>Item2</offset-item>
            <offset-item>Item3</offset-item>
        </offset-menu>
        <offset-menu label="Paramètre" icon="bi bi-gear">
          <offset-item>
            <a class="nav-item arrow-none" href="#">Item2</a>
          </offset-item>
          <offset-item>
            <a class="nav-item arrow-none" href="#">Item2</a>
          </offset-item>
        </offset-menu>
      </ul>
    </div>
  </div>
</nav>
